header{
    background-color:#383D58;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:24px 0;
}

.logo-cabecalho{
width: 60% ;

}
.cabecalho-item1 {

    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}
.cabecalho-item2 {

    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}
